<div class="mx-auto p-2" style="max-width: 800px;">
<%= form_with model: [@article, @article.comments.build] do |form| %>
  <p>
    <%= form.label :commenter, class: "form-label" %><br>
    <%= form.text_field :commenter, class: "form-control" %>
  </p>
  <p>
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control", rows: "3" %>
  </p>
  <p>
    <%= form.submit "Submit", class: "btn btn-outline-primary" %>
  </p>
<% end %>
</div>
